/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
    height: 600px;
}

/* First section Header */

.topheader{
    height: 10%;
    background-color: white;
}

ul > li{
    list-style: none;
    display: inline-block;
}

ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.logo{
    width: 50%;
}

.flexhead{
    display: flex;
    align-items: center;
    height: 100%;
}

.btn{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #799EFA;
    color: #799EFA;
    border-radius: 5px;
    word-spacing: 1px;
}

.hcenter{
    word-spacing: 10px;
}

.hright{
    display: flex;
    flex-direction: row-reverse;
    word-spacing: 10px;
}

/* Second section Header */

.bunnerheader{
    height: 90%;
    background-image: url(./IMG/bg-banner-home.jpg);
    background-size: 110% 100%;
}

.mainheader{
    height: 100%;
}

.leftheader{
    color: white;
    margin-top: 90px;
}

.leftheader > h1{
    font-size: 3.5rem;
}

.leftheader > p{
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 30px;
    margin-top: 30px;
}

.rightheader{
    display: flex;
    flex-direction: row-reverse;
}

.contsign{
    background-color: white;
    width: 500px;
    height: 370px;
    margin-top: 80px;
    border-radius: 5px;
    padding: 30px;
}

.contsign > h3 {
    font-size: 1.9rem;
    text-align: center;
    color: #0A1C4B;
}

.contsign .lightblue{
    color: #366FF7;
    margin-top: 10px;
}

.contsign input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #F7F7F7;
    padding: 5px;
}

.account{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #6798F8;
    border-radius: 5px;
    padding: 7px;
}

.account > a{
    text-decoration: none;
    color: white;
}

.signup{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    padding: 5px;
}

.signup img{
    width: 4%;
}

.signup a{
    text-decoration: none;
    color: black;
    padding-left: 118px;
}

.contsign p{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.contsign > p > a {
    color: #5184F7;
}

/* Main */

/* First section Main */

.firsthead{
    height: 300px;
    background-color: #F3F5F9;
}

.customer .col-12 h4{
    text-align: center;
    color: #747E97;
    margin-top: 50px;
    margin-bottom: 20px;
}

.customerimg{
    display: flex;
    justify-content: space-between;
}

.customerimg > img{
    width: 15%;
}

.acustomer{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    
}

.customer .acustomer > a {
    text-decoration: none;
    color: #5184F7;
}

/* Second section Main */

.secondmain{
    height: 700px;
}

.addeploy{
    height: 30%;
    text-align: center;
}

.addeploy h2{
    font-size: 2.5rem;
    margin-top: 70px;
    color: #0A1C4B;
}

.addeploy p{
    font-size: 23px;
    word-spacing: 1.5px;
    margin-top: 20px;
    color: #0A1C4B;
}

.scndmain{
    height: 70%;
    display: flex;
    flex-direction: row;
}

.list{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #778098;
    font-size: 20px;
}

.list > ul > li{
    line-height: 250%;
    border-left: 1px solid #778098;
    padding-left: 10px;
}

.info{
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.divinfo{
    height: 50%;
    width: 50%;
    padding-top: 30px;
    padding-left: 50px;
}

.divinfo img{
    padding-bottom: 10px;
} 

.divinfo h4{
    font-size: 18px;
    font-weight: 800;
    color: #0A1C4B;
    padding-top: 7px;
    padding-bottom: 7px;
}

.divinfo p{
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 10px;
    color: #778098;
    font-weight: 600;
}

.divinfo .paddimg{
    padding-top: 60px;
}

/* Third section Main */

/* Fourth section Main */

/* Fifth section Main */

/* Sixth section Main */

/* Seventh section Main */

/* Footer */