/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
    height: 600px;
}

/* First section Header */

.topheader{
    height: 10%;
    background-color: white;
}

ul > li{
    list-style: none;
    display: inline-block;
}

ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.logo{
    width: 50%;
}

.flexhead{
    display: flex;
    align-items: center;
    height: 100%;
}

.btn{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #799EFA;
    color: #799EFA;
    border-radius: 5px;
    word-spacing: 1px;
}

.hcenter{
    word-spacing: 10px;
}

.hright{
    display: flex;
    flex-direction: row-reverse;
    word-spacing: 10px;
}

/* Second section Header */

.bunnerheader{
    height: 90%;
    background-image: url(./IMG/bg-banner-home.jpg);
    background-size: 110% 100%;
}

.mainheader{
    height: 100%;
}

.leftheader{
    color: white;
    margin-top: 90px;
}

.leftheader > h1{
    font-size: 3.5rem;
}

.leftheader > p{
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 30px;
    margin-top: 30px;
}

.rightheader{
    display: flex;
    flex-direction: row-reverse;
}

.contsign{
    background-color: white;
    width: 500px;
    height: 370px;
    margin-top: 80px;
    border-radius: 5px;
    padding: 30px;
}

.contsign > h3 {
    font-size: 1.9rem;
    text-align: center;
    color: #0A1C4B;
}

.contsign .lightblue{
    color: #366FF7;
    margin-top: 10px;
}

.contsign input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #F7F7F7;
    padding: 5px;
}

.account{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #6798F8;
    border-radius: 5px;
    padding: 7px;
}

.account > a{
    text-decoration: none;
    color: white;
}

.signup{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    padding: 5px;
}

.signup img{
    width: 4%;
}

.signup a{
    text-decoration: none;
    color: black;
    padding-left: 118px;
}

.contsign p{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.contsign > p > a {
    color: #5184F7;
}

/* Main */

/* First section Main */

.firsthead{
    height: 300px;
    background-color: #F3F5F9;
}

.customer .col-12 h4{
    text-align: center;
    color: #747E97;
    margin-top: 50px;
    margin-bottom: 20px;
}

.customerimg{
    display: flex;
    justify-content: space-between;
}

.customerimg > img{
    width: 15%;
}

.acustomer{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    
}

.customer .acustomer > a {
    text-decoration: none;
    color: #5184F7;
}

/* Second section Main */

.secondmain{
    height: 700px;
}

.addeploy{
    height: 30%;
    text-align: center;
}

.addeploy h2{
    font-size: 2.5rem;
    margin-top: 70px;
    color: #0A1C4B;
}

.addeploy p{
    font-size: 23px;
    word-spacing: 1.2px;
    margin-top: 20px;
    color: #0A1C4B;
}

.scndmain{
    height: 70%;
    display: flex;
    flex-direction: row;
}

.list{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #778098;
    font-size: 20px;
}

.list > ul > li{
    line-height: 250%;
    border-left: 1px solid #778098;
    padding-left: 10px;
}

.info{
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.divinfo{
    height: 50%;
    width: 50%;
    padding-top: 30px;
    padding-left: 50px;
}

.divinfo img{
    padding-bottom: 10px;
} 

.divinfo h4{
    font-size: 18px;
    font-weight: 800;
    color: #0A1C4B;
    padding-top: 7px;
    padding-bottom: 7px;
}

.divinfo p{
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 10px;
    color: #778098;
    font-weight: 600;
}

.divinfo .paddimg{
    padding-top: 60px;
}

/* Third section Main */

.thirdmain{
    height: 750px;
    background-color: #F3F5F9;
}

.divthird{
    text-align: center;
}

.divthird h2{
    margin-top: 70px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0A1C4B;
}

.divthird p{
    font-size: 18px;
    word-spacing: 5px;
    color: #778098;
}

.thirdimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.thirdimg img{
    width: 50%;
}

.arrowleft{
    margin-right: 30px;
    font-size: 30px;
    color: #717B95;
}

.arrowright{
    margin-left: 30px;
    font-size: 30px;
    color: #0A1C4B;
}

.endthird{
    margin-top: 30px;
    text-align: center;
}

.divcircle{
    display: flex;
    justify-content: center;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #366FF7;
    margin: 5px;
}

.circleblue{
    background-color: #366FF7;
}

/* Fourth section Main */

.fourthmain{
    height: 500px;
}

.fourthtitle{
    text-align: center;
    padding-top: 70px;
    font-size: 1.5rem;
    color: #0A1C4B;
}

.fourthtable{
    padding-top: 100px;
}

.fourthtable h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #0A1C4B;
}

.fourthtable p{
    font-size: 18px;
    color: #778098;
    padding-right: 15px;
}

.fourthtable a{
    color: #366FF7;
    text-decoration: none;
}

/* Fifth section Main */

.fifthmain{
    height: 400px;
    background: linear-gradient(180deg, #1941BA 0%, #081F95 99.99%, rgba(255, 255, 255, 0) 100%, #092096 100%);
}

.contservice{
    text-align: center;
    padding-top: 50px;
}

.contservice h2{
    color: white;
    font-size: 2rem;
}

.contregion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.region{
    width: 500px;
    height: 40px;
    padding-top: 10px;
    color: white;
    border-bottom: 1px solid white;
}

.region .col-3 a{
    text-decoration: none;
    color: #5CCACE;
    padding-left: 20px;
    font-size: 15px;
}

.bbregion{
    border-bottom: none;
}
/* Sixth section Main */

.sixthmain{
    height: 750px;
    background-color: #F3F5F9;
}

.divsixth{
    text-align: center;
}

.sixthbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.sixthbox img{
    width: 50%;
}

.divsixth h2{
    margin-top: 70px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0A1C4B;
}

.rockerbox{
    width: 720px;
    height: 400px;
    text-align: center;
    padding-top: 70px;
    background-color: white;
}

.rockerbox p{
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    color: #717B95;
}

.rockerbox span{
    color: #0A1C4B;
}

.rockerbox a{
    text-decoration: none;
    line-height: 100px;
    color: #366FF7;
}

.circlemargin{
    margin-top: 50px;
}

/* Seventh section Main */

.seventhmain{
    height: 250px;
    background: linear-gradient(180deg, #1941BA 0%, #081F95 99.99%, rgba(255, 255, 255, 0) 100%, #092096 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.seventhcont{
    text-align: center;
}

.seventhcont h2{
    font-size: 2.5rem;
    color: white;
    padding-bottom: 30px;
}

.seventhcont a{
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    color: #366FF7;
    border-radius: 5px;
}

/* Footer */

footer{
    height: 600px;
    background-color: #0A1C4B;
}

.contfooter{
    height: 600px;
}

.contfooter img{
    margin-top: 50px;
}

.contfooter p{
    color: #878FA3;
    margin-top: 10px;
}

.contfooter span{
    color: #5A6582;
    
}

.contfooter i{
    color: #878FA3;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 50px;
}

.contfooter h4{
    margin-top: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.contfooter a{
    text-decoration: none;
    color: #878FA3;
    line-height: 40px;
}

.chatbot{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
}

.botimg{
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: #2C68F6;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}

.botimg img{
    width: 100%;
    height: 90%;
}

.botp{
    height: 50px;
    width: 270px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #0A1C4B;
}

.botp p{
    font-size: 13px;
    color: #0A1C4B;
}

.botnumber{
    height: 25px;
    width: 25px;
    background-color: red;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    margin-top: -60px;
    margin-left: 37px;
}

.botnumber span{
    color: white;
}